// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contacts {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}

.thanks {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 3rem 1.5rem;
}
