<div class="hero-body">
  <section class="container ">
    <h1 class="title top-title is-1">MY-Page</h1>
    <h2 class="subtitle is-4">
      Vue.jsとRailsで作った架空ポートフォリオ。
    </h2>
    <p class="has-text-centered">
      <a href="" target="_blank" class="button is-medium is-info is-outlined">
        Learn more
      </a>
    </p>
  </section>
</div>
