<section class="section thanks">
  <h1 class="title has-text-left is-2">Contact</h1>
  <h2 class="subtitle has-text-left is-6">
    Thank you
  </h2>
  <div class="field is-grouped">
    <div class="control">
      <a class="button is-link" href="/contact">Back</a>
    </div>
  </div>
</section>
